/* Write your styles */

@charset "utf-8";
/* CSS Document */

* {
	padding:0px;
	margin:0px;
}
body {
	text-align:left;
	margin:0;
	padding:0;
	width:100%;
	font-family:"Microsoft YaHei";
	font-size:14px;
	color:#6e6e6e;
	background:#f7f7f7;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p {
	padding:0;
	margin:0;
}
table, td, tr, th {
	font-size:12px;
}
li {
	list-style-type:none;
}
a {
	text-decoration:none;
	color:#6e6e6e;
	cursor:pointer;
}
a:hover {
	color:#0670ba;
	text-decoration:none;
}
img {
	vertical-align:top;
	border:0;
}
ol, ul {
	list-style:none;
}
h1, h2, h3, h4, h5, h6 {
	font-size:12px;
	font-weight:100;
}
address, cite, code, em, th {font-weight:normal;font-style:normal;}

.clear {clear:both; font-size:0px; line-height:0px; height:0px;}
.top{ width:100%; height:91px; padding-top: 15px; line-height: 91px; margin:0 auto; overflow:hidden; background:url(images/logobj.jpg) left top no-repeat;  }

.dh{ width:100%; height:40px; margin:0 auto; overflow:hidden; background:#24535d;} 
.dh_l{ width:100%; float:left; color:#bce2fe; height:40px; line-height:40px;}
.dh_l ul li{ width:50%; float:left; display:block; overflow:hidden; height:40px; line-height:40px; text-align:center; font-size:16px; font-weight:bold; }
.dh_l ul li a{color:#fff;}
.dh_l ul li:hover{ background:#f56220;}
.dh_l ul li a:hover{ color:#fff;}


.xwt{ width:100%; height:250px; margin:0 auto; overflow:hidden;}
.xwt img{ width:100%; height:250px; margin:0 auto; overflow:hidden;}



.part1{ width:100%;  margin:0px auto; overflow:hidden;}
.bt{ width:100%; height:41px; line-height:41px; background:url(../i/dqwzbj.jpg) left top repeat-x; }
.bt_l{ float:left; color:#01a45b;font-size:16px; font-weight:bold; padding-left:15px; }

.bt_back{ float:left; width:51px; height:40px; }
.bt_r{ float:right; font-size:12px; margin:0 5px;}

.bt1{width:100%; height:41px; line-height:41px; color:#01a45b; font-size:14px; font-weight:bold;  background:url(images/tb2.png) 10px center no-repeat; padding-left:25px; border-bottom:1px #eee solid;}





.list{ padding:0;}
.list ul{}
.list ul li{height:30px; line-height:30px; overflow:hidden; background:url(../i/new_tb.png) no-repeat 10px center; padding-left:20px;}
.list ul li i{margin:0 5px; font-style:normal;}
.list ul li h1{font-size:14px; color:#555; line-height:30px; overflow:hidden; }
.list ul li h1 a{color:#555; font-size:14px; font-weight:bold; }
.list ul li span{float:right;}

.foot{ width:100%; height:100px; background:#01a45b; border-top:1px #e2e2e2 solid; margin:0 auto; overflow:hidden; padding-top:15px;}
.foot p{ text-align:center; font-size:14px; line-height:24px; color:#fff;}

.box1{ width:100%; border-top:1px #e2e2e2 solid; border-bottom:1px #e2e2e2 solid; padding:5px 10px; background:#fff;}
.box1 p{font-size:14px; line-height:24px; text-indent:2em;}





/*新闻最终页*/
.new_deatil{}
.new_deatil_bt{ width:98%; margin:0 auto; }
.new_deatil_bt h1{ font-size:18px; font-weight:bold; color:#333; text-align:center; line-height:24px; border-bottom:1px #eee solid; }
.new_deatil_bt p{text-align:center; line-height:35px;}
.new_deatil_nr{}
.new_deatil_nr p{ line-height:26px;}
.new_deatil_nr img{ width:100%; height:auto;}
