<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
         <!-- 控制一个pool可分配多少个jedis实例 -->
         <property name="maxTotal" value="100"/>
         <!-- 控制一个pool最多有多少个状态为idle(空闲)的jedis实例 -->  
         <property name="maxIdle" value="100"/>
         <property name="minIdle" value="100"/>
         <!-- 表示当borrow一个jedis实例时，最大的等待时间，如果超过等待时间，则直接抛出JedisConnectionException -->  
         <property name="maxWaitMillis" value="100"/>
         <!-- 在borrow一个jedis实例时，是否提前进行validate操作；如果为true，则得到的jedis实例均是可用的 -->  
         <property name="testOnBorrow" value="true"/>
         <property name="testOnReturn" value="true"/>
         <property name="testWhileIdle" value="true"/>
     </bean>

	
	<bean id="shardedJedisPool" class="com.ai.common.cache.redis.ShardedJedisPool">
        <constructor-arg name="poolConfig"  ref="jedisPoolConfig"></constructor-arg>
        <constructor-arg name="shards">
     	   <list>
				 <!-- redis的连接池pool，不是必选项：timeout/password id ="shardedJedis" -->
			    <bean  class="redis.clients.jedis.JedisShardInfo">
			      <!-- <constructor-arg name="host" value="10.1.235.224"/> -->
			     <!-- middlewareweb:10.1.234.213  -->
			      <constructor-arg name="host" value="10.63.48.164"/> 
			      <constructor-arg name="port" value="6379" type="int"/>
			      <constructor-arg name="name" value="reids1" />
			    </bean>
			</list>
        </constructor-arg>
     </bean>

	<bean id="redisPoolUtils" class="com.ai.common.cache.redis.JRedisPoolUtils">
		<property name="shardedJedisPool" ref="shardedJedisPool"/>
		<property name="version" value="2"/>
	</bean>

	<!-- AIGOV-CORE引用，注意生产环境时也需要一起修改 -->
	<bean id="shardedRedisPool" class="com.asiainfo.aigov.core.shiro.cache.ShardedRedisPool">
		<constructor-arg name="poolConfig" ref="jedisPoolConfig"></constructor-arg>
		<constructor-arg name="shards">
			<list>
				 <!-- redis的连接池pool，不是必选项：timeout/password id ="shardedJedis" -->
			    <bean  class="redis.clients.jedis.JedisShardInfo">
			      <!-- <constructor-arg name="host" value="10.1.235.224"/> -->
			     <!-- middlewareweb:10.1.234.213  -->
			      <constructor-arg name="host" value="10.63.48.164"/> 
			      <constructor-arg name="port" value="6379" type="int"/>
			      <constructor-arg name="name" value="reids1" />
			    </bean>
			</list>
		</constructor-arg>
	</bean>
<!-- redis开关 2017年7月26注释-->
	<bean id="redisManager" class="com.asiainfo.aigov.core.shiro.cache.RedisManager">
		<constructor-arg ref="shardedRedisPool"></constructor-arg>
		<constructor-arg name="switchHost" value="0"/><!-- 开关:0本地1网络 -->
	</bean>

</beans>
